body{
    font-family: 'Times New Roman', Times, serif;
    /*
     Medidas Absolutas
    cm, mmm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em

    recomendação: use: em, px
     */
   
}
h1{
    /* shorthand font
    - font-style -> font-weight-> font-size ->font-family
    */

    font: italic bolder 3em ;
}